
html{
    
}
    body{
    margin: 0;
    background-color: #eec0c6;
background-image: linear-gradient(315deg, #fac6b9 0%, #7ee8fa 74%);

    overflow: hidden;
}
*{
    box-sizing: border-box;
}
.container{
    /* position: relative; */
    height:100vh;
    width: 100vw;
    background-color: #aee1f9;
    background-image: linear-gradient(315deg, #9dd6f0 0%, #eecee8 74%);
    
    
}
.navbar{
    height: 20%;
    width:100%;
    background-color: #895061;
    display: flex;
    flex-direction: column;
}
.ds{
    display: flex;
    flex-direction: row;
    height: 50%;
    /* align-items: center; */
    text-align: center;
    /* justify-content: center; */
}
.stack,.queue{
    align-items: center;
    display: flex;
    color: black;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #8de7e7 0%, #39083974 74%);
    
   color: black;
    font-size: 35px;
}
.stack:hover,.queue:hover{
    background-color: #0cbabac4;
    background-image: linear-gradient(315deg, #afe2e2 0%, #4513455c 74%);
    cursor: pointer;
}
.stack.selected,.queue.selected{
    color: white;
    background-color: #78244c;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    
}
.add-delete{
    display: flex;
    flex-direction: row;
    height: 50%;
    
}
.add-node,.delete-node,.peek-node{
    /* width: 12%;
    height: 100%; */
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center; */
    align-items: center;
}
.box{
    position: relative;
    height: 80%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;

    
}
.data-container{
    position: absolute;
    height: 60%;
    width: 8%;
    /* margin-left: 40%; */
    display: flex;
    flex-direction: column;
    border: 3px solid #78244c ;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: flex-end;
    top: 20%;
    left: 40%;
}
.data{
    height: 10%;
    width: 93%;
    margin: 3.5%;
    background-color:#78244c;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    transition: background-color ease-in 3s;
}
.anim-data{
    position: absolute;
    left: 16.5%;
    height: 6%;
    width: 8%;
    margin: 3.5%;
    background-color:#78244c;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 7px;
}
.arrow-div{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 28%;
    height: 2px;
    width: 0px;
    visibility: visible;

    transform-origin:left;
    /* -ms-transform: rotate(20deg); */
    transform: rotate(20deg);
    
    /* animation: 
        anim 2s,
        anim1 2.5s 2s reverse; */
}
.add{
    background-color: #78244c;
    padding: 3px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}
.delete{
    background-color: #78244c;
    padding: 5px;
    border-radius: 2px;
    color: white;
    border-radius: 4%;
    cursor: pointer;
}
.peek{
    background-color: #78244c;
    border-radius: 4px;
    padding: 4px;
 
    color: white;
    border-radius: 4%;
    cursor: pointer; 
}
#arrow{
    color: black;
    background-color: black;
    height: 4px;
    width: 95%;
    
}
.arrow-icon{
    /* transform: translateY(-10px); */
    font-size: 40px;
    transform: translate(-17px,-18px);
    /* transform: translateX(30px); */
}
@keyframes anim {
    0%{
        width: 0;
    }
    100%{
        width: 200px;
        visibility: hidden;
    }    
   
}
.title{
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1%; */
}